/* themes */

    /* Pink theme */
    body.pink-theme {
        --primary-color: hotpink;
        --background-color: #24292e;
        --github-icon-color: #ffffff;
        --background-bio-color: #24292e3a;
        --background-activity-color: #24292e03;
    }
    
    /* Blue theme */
    body.blue-theme {
        --primary-color: #4176ab;
        --background-color: #24292e;
        --github-icon-color: #ffffff;
        --background-bio-color: #24292e3a;
        --background-activity-color: #24292e03;
    }
    
    /* Orange theme */
    body.orange-theme {
        --primary-color: #ec7e00;
        --background-color: #d66a30;
        --github-icon-color: #000000;
        --background-bio-color: #d66a3038;
        --background-activity-color: #d66a3003;
    }
    
